@font-face {
    font-family: 'Poppins_Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins_Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins_Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins_SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins_Bold';
    src: url('../css/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    text-rendering: optimizeLegibility;
    font-display: swap;
}